*{
    margin:0;
    padding:0;
}

body{
    background-color: #cdab88;
    color:
}

header{
    width:100%;
    height:80px;
    background-color: 
}

header div{
    width:65%;
    float:right;
}

#titulo{
    padding-top: 20px;
}

nav{
    width:100%;
    height: 35px;
    background-color: #9d7a52;
    float:left;
    padding: 15px;
}

nav ul{
    list-style:none;
}

nav ul li{
    display:inline;
}

nav ul li a{
    text-decoration: none;
    font-size: 24px;
    margin-left: 95px;
    color: #000;
    padding: 15px;

}

main{
    width: 100%;
    float:left;
    margin-top:5px;
}

main div{
    width: 80%;
    margin:0 auto;
}

.imagens{
    width: 30%;
    float:left;
    margin:15px;
}









